<body class="bg-light">
  <div class="container">
    <div class="py-5 text-center">
      <h2>Edit {{ petData.name }} data</h2>
    </div>

    <div class="row">
      <div class="col-md-12 order-md-1">
        <form class="needs-validation" id="add-pet-form" novalidate>
          <div class="mb-3">
            <label for="name">Name</label>
            <div class="input-group">
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" placeholder="Name" value="{{
                petData.name
                }}" />
            </div>
          </div>

          <div class="mb-3">
            <label for="code">Code</label>
            <div class="input-group">
              <input type="text" class="form-control" id="code" name="code" [(ngModel)]="code" placeholder="Code" value="{{
                petData.code
                }}" />
            </div>
          </div>

          <div class="mb-3">
            <label for="types">Type</label>
            <select class="form-select d-block w-100" id="types" name="type" [(ngModel)]="type" value="{{
              petData.type
              }}">
              <option value="" selected disabled>Choose...</option>
              <option *ngFor="let petType of petTypes" [value]="petType.type">{{petType.type}}</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="colors">Fur color</label>
            <select class="form-select d-block w-100" id="colors" name="furColour" [(ngModel)]="furColour" value="{{
              petData.furColour
              }}">
              <option value="" selected disabled>Choose...</option>
              <option *ngFor="let petColour of petColours" [value]="petColour.furColour">{{petColour.furColour}}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label for="countries">Country of origin</label>
            <select class="form-select d-block w-100" id="countries" name="country" [(ngModel)]="country" value="{{
              petData.country
              }}">
              <option value="" selected disabled>Choose...</option>
              <option *ngFor="let petCountry of petCountries" [value]="petCountry.country">{{petCountry.country}}
              </option>
            </select>
          </div>

          <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="onSubmit()">
            Update Pet
          </button>
        </form>
        <div *ngIf="success" class="alert alert-success" role="alert">
          Pet updated successfully!
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="error">
          Please enter a value for all fields
        </div>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2022 Wisercat</p>
    </footer>
  </div>
</body>